@using System.Collections;
@model IEnumerable<PALUGADA.Datas.Entities.User>
@{ ViewData["Title"] = "Home Page";}
@if (TempData["ResultOk"] != null) { <h1 class="alert-success">@TempData["ResultOk"]</h1>}
<div class="container shadow p-5">
    <h1 class="text-center mb-3">Mau Lihat Data User? Scroll Aja ke Bawah. </h1>
    <div class="col mb-3">
        <a asp-controller="User" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Tambah User</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">No.Telp</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
@if(Model != null)
{
@foreach (var item in Model) 
{
                <tr>
                    <td width="20%">
                        @item.Username
                    </td>
                    <td width="20%">
                        @item.EmailUser
                    </td>
                    <td width="25%">
                        @item.NohpUser
                    </td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="User" asp-action="Detail" asp-route-id="@item.IdUser" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Detail</a>&nbsp;
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@item.IdUser" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@item.IdUser" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
            }else{
    <h1>Data barang null</h1>
    }
        </tbody>
    </table>
</div>